 #Description of  Prof. Farnsworth's ship

Intergalactic Ship Registration:

  name: {{ ship_name }}
  type: {{ ship_type  }}

  engines:

    type: {{ engines }}
      max capacity: {{ dark_matter_balls }}
    backup: {{ backup_engines }}

